body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: background-color 0.5s;
}

.clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock.light {
    background-color: #fff;
    color: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.clock.dark {
    background-color: #000000;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

body.light {
    background-color: #fff; /* mudado para branco */
}

body.dark {
    background-color: #000; /* mudado para preto */
}